<% @feedbacks.each do |feedback| %>
   <div class="responseWrap">
     <div class="responseHeader">
       <span class="responseUrl"><%= feedback.url %></span>
       <span class="responseScore <%= feedback.emotion %>" title="<%= feedback.emotion %>">
         <%= feedback.emotion.upcase %>
       </span>
       <span class="responseTrend <%= feedback.trend %>" title="treding <%= feedback.trend %>"><%= feedback.trend %></span>
       <h2 class="responseProduct">Product</h2>
       <div class="clearAll">&nbsp;</div>
     </div>
     <div class="responseText">
       <%= feedback.comment %>
     </div>
     
   </div>
<% end %>

<script type="text/javascript">
  var newFeedbacks = {}

  function getFeedbacks(since)
  {
    $J.ajax({
      method: 'get',
      url : 'http://127.0.0.1:3000/services/feedbacks',
      data: {
        since: since,
        format: 'js',
      },
      dataType : 'text',
      success: function (data) { 
        $J('.responses').html(''); 
        $J('.responses').prepend(data); 
      }
   });
  }

  setTimeout("getFeedbacks(0)", 5000);
</script>